<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css">
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="background">
<div class="content">
        <div class="main-agileits">
					<div class="form-agile">
					<div id="logo2">
					<img src="images/logo.png">
					</div> <!--logo-->
					 <h2>sign in</h2>
						<form action="loginCheck" method="post">
							<div class="key">
								<input type="text" placeholder="Username" name="username"  required="">
							</div>
							<div class="key">
								<input type="password" placeholder="Password" name="password"  required="">
							</div>
							<input type="submit" value="Login">
						</form>
						
					</div>
					
				</div>
    </div>
</body>
</html>