 
 
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"/>
	
	<script type="text/javascript">
	$(document).ready(function() {
		//alert("EstimationIndex opening........");
		$('#example').DataTable();
	} );
		
	</script>
	
	
		<div class="main-content">
		 
		<div id="page-wrapper">
			
			<div class="header_bottom">
				<h2>Estimation</h2>

				<div class="text-right">
					<ol class="breadcrumbs">
						<li><a href="#"><span>Home&nbsp; / </span></a></li>
						<li><span>&nbsp;Estimation</span></li>
					</ol>
				</div>
			</div>
			
			 
			<div style="padding-left: 20px; padding-top: 20px" >
			<!-- <table id="example"  class="ui celled table " style="width: 100%"> -->
			<table id="example"  class="display" style="width: 100%">
			
				<thead>
					            <tr>
					                <th>Sr no</th>
					                <th>Project Name</th>
					                <th>Enquiry Rev Date</th>
					                <th>Enquiry Number</th>
					                <th>Status</th>
					                <th>View</th>
					                 <th>Create</th>
					                <th>Edit</th>
					            </tr>
					        </thead>
					        <tbody>
					        
						        <#if listProject??>
						        	<#list listProject as project>
						        	
						        	<tr>
						                <td>${project?index+1}</td>
						                <td>${(project.projectName)!""}</td>
						                <td>${(project.enquiryRecDate)!""}</td>
						                <td>${(project.enquiryNumber)!""}</td>
						                <td>${(project.status)!""}</td>
						                <td>
						                	<#if  project.isEstimationCreated >
						                	<button type="button" onclick="openReadOrWriteView(${project.projectId},'r')">View</button> 
						                	</#if>
						                </td>
						                <td>
						                	<#if  !project.isEstimationCreated >
						                	<button type="button" onclick="createNewExtimation(${project.projectId})">Create</button> 
						                	</#if>
						                </td>
						                <td>
						                	<#if  project.isEstimationCreated >
						                	<button type="button" onclick="openReadOrWriteView(${project.projectId},'w')">Edit</button>
						                	</#if>
						                </td>
						            </tr>
						            
						            </#list>
						       </#if>
					       
					        </tbody>
				
			</table>


		</div>
			

		</div> 
		
		
		</div>
 




