<!DOCTYPE HTML>
<html>
<head>
<title>ERP</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Custom CSS -->
	<link href="css/style.css" rel='stylesheet' type='text/css' /> 
	<script src="js/SidebarNav.min.js" type="text/javascript"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.semanticui.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.semanticui.min.css">
 
 

	<script type="text/javascript">
	
			$(document).ready(function() {
				alert("EstimationIndex");
		    	$('#estimationTable').DataTable();
			} );
			
	</script>
	
</head> 
<body>
	
	<div class="main-content">
	<div id="header"></div>
		<!-- main content start-->
		<div id="page-wrapper">
			<div class="header_bottom">
			<h2>Estimation</h2>
			
			<div class="text-right">
			<ol class="breadcrumbs">
				<li><a href="#"><span>Home&nbsp; / </span></a></li>
				<li><span>&nbsp;Estimation</span></li>
			</ol>
			</div>
		</div>
		
		<div style="width:800px">
		<table id="estimationTable" class="ui celled table" style="width:100%" >
        <thead>
            <tr>
                <th>Sr no</th>
                <th>Project Name</th>
                <th>Enquiry Rev Date</th>
                <th>Enquiry Number</th>
                <th>Status</th>
                <th>View</th>
                 <th>Create</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
        
	        <#if listProject??>
	        	<#list listProject as project>
	        	 
	        	 
	        	  
	        	 
	  			<tr>
	                <td>${project?index+1}</td>
	                <td>${(project.projectName)!""}</td>
	                <td>${(project.enquiryRecDate)!""}</td>
	                <td>${(project.enquiryNumber)!""}</td>
	                <td>${(project.status)!""}</td>
	                <td>
	                	<#if  project.isEstimationCreated >
	                	<button type="button" onclick="openReadOrWriteView(${project.projectId},'r')">View</button> 
	                	</#if>
	                </td>
	                <td>
	                	<#if  !project.isEstimationCreated >
	                	<button type="button" onclick="createNewExtimation(${project.projectId})">Create</button> 
	                	</#if>
	                </td>
	                <td>
	                	<#if  project.isEstimationCreated >
	                	<button type="button" onclick="openReadOrWriteView(${project.projectId},'w')">Edit</button>
	                	</#if>
	                </td>
	            </tr>
	            </#list>
	       </#if>
       
        </tbody>
 
         </table>
         </div>
         
         
         
  
	</div> 
	</div>
 


</body>


 
</html>