
<div class="header_bottom">
				<h2>New Sales order</h2>
				
</div>

<form id="project" name="project" action="sales?add"  method="post">		
	<input id="handledByName" name="handledByName" type="hidden" value="" >
	<input id="estimatorUserName" name="estimatorUserName" type="hidden" value="">
	
			<div id="project_mainbox1">
			
				<div class="project_box">
					<div class="project_box2">
						<h2>Project Name</h2>
					</div>
					<div class="project_box3">
						<input type="text" id="projectName" name="projectName">
					</div>
				</div>
				
				<!--project_box-->
				<div class="project_box">
					<div class="project_box2">
						<h2>Enquiry Number</h2>
					</div>
					<div class="project_box3">
						<input type="text" id="enquiryNumber" name="enquiryNumber">
					</div>
				</div>
				
				<!--project_box-->
				<!-- <div class="project_box">
					<div class="project_box2">
						<h2>Enquiry Rec Date</h2>
					</div>
					<div class="project_box3">
						<input type="date" placeholder="" required value="">
					</div>
				</div> -->
				
				<!--project_box-->
				<div class="project_box">
					<div class="project_box2">
						<h2>Customer</h2>
					</div>
					<div class="project_box3">
						<select id="customerId" name="customerId">
							<option value="0"> select Customer</option>
							<#if clientList??>
								<#list clientList as item>
									<#if item?has_content && item.clientName?has_content && item.id?has_content>
										<option value=${item.id}>${item.clientName}</option>
										</#if> 
										</#list>
									<#else>
							<p>Empty</p>
						</#if>
					</select>
					</div>
				</div>
				
				<!--project_box-->
				<div class="project_box">
					<div class="project_box2">
						<h2>Handle By</h2>
					</div>
					<div class="project_box3">
						<select id="handledById" name="handledById" >
							<option value="0"> select Handle by</option>
							<#if userList??>
								<#list userList as item>
									<#if item?has_content && item.firstName?has_content && item.id?has_content>
										<option value=${item.id}>${item.firstName} ${item.lastName}</option>
										</#if> 
										</#list>
									<#else>
							<p>Empty</p>
						</#if>
						</select>
						
					</div>
				</div>
				
				<!--project_box-->
				<div class="project_box">
					<div class="project_box2">
						<h2>Estimator</h2>
					</div>
					<div class="project_box3">
						<select id="estimatorUserId" name="estimatorUserId">
							<option value="0"> select Estimator</option>
							<#if userList??>
								<#list userList as item>
									<#if item?has_content && item.firstName?has_content && item.id?has_content>
										<option value=${item.id}>${item.firstName} ${item.lastName}</option>
										</#if> 
										</#list>
									<#else>
							<p>Empty</p>
						</#if>	
					</select>
					</div>
				</div>
				
				<!--project_box-->
				<div class="project_box">
					<div class="project_box2">
						<h2>Project Details</h2>
					</div>
					<div class="project_box3">
						<textarea rows="4" cols="50" id="projectDetails" name="projectDetails" ></textarea>
					</div>
				</div>
				
				<!--project_box-->
				<!-- <div class="project_box">
					<div class="project_box2">
						<h2>Attach Documents</h2>
					</div>
					<div class="project_box3">
						<input type="file">
					</div>
				</div> -->
				
				
				<!--project_box-->
				<!-- <div class="project_box4">
					<div class="button">
						<input type="button" value="Save"> 
						<input type="button" value="Cancel">
					</div>
				</div> -->
				<button type="submit" style="padding-right:">Save</button>
				
			</div>

</form>

		