 



	<div class="main-content">
	<div id="header"></div>
	
		<!-- main content start-->
		<div id="page-wrapper">
			<div class="header_bottom">
			<h2>Estimation</h2>
			<div class="text-right">
			<ol class="breadcrumbs">
				<li><a href="#"><span>Home&nbsp; / </span></a></li>
				<li><span>&nbsp;Estimation</span></li>
			</ol>
		</div>
		</div>
		
	<div id="project_mainbox1">
	<form action="" method="post" id="newEstimation">
	
	<div class="project_box">
    	<div class="project_box2"><h2>Project Name</h2> </div>
        <div class="project_box3"><input type="text" disabled="disabled" value="${project.projectName}" /></div>
    </div> 
    
    <div class="project_box">
    	<div class="project_box2"><h2>Consultant Name</h2> </div>
        <div class="project_box3"><input type="text" placeholder="" name="consultantName"  required value=""></div>
    </div><!--project_box-->
    
     <div class="project_box">
    	<div class="project_box2">
        <h2>Kind Attention</h2> </div>
        <div class="project_box3">
       	<input type="text" placeholder="" name="kindAttPerson"  required value="">
        </div>
    </div><!--project_box-->
    
    
     <div class="project_box">
    	<div class="project_box2">
        <h2>Technical Contact person </h2> </div>
        <div class="project_box3">
       	<input type="text" placeholder="" name="technicalContactPerson"  required value="">
        </div>
    </div><!--project_box-->
		
    <div class="project_box">
    	<div class="project_box2">
        <h2>Client Name</h2> </div>
        <div class="project_box3">
        <input type="text" placeholder="" name=""  id="clientName" required value="">
        </div>
    </div><!--project_box-->
    
    <div class="project_box">
    	<div class="project_box2">
        <h2>Job Number</h2> </div>
        <div class="project_box3">
      <input type="text" placeholder="" name="jobNumber" required value="">
        </div>
    </div><!--project_box-->
    
	<div class="project_box">
    	<div class="project_box2">
        <h2>Consultantency Name</h2> </div>
        <div class="project_box3">
       	<input type="text" placeholder=""  required value=""  name="consultantencyName">
        </div>
    </div><!--project_box-->
    
	<div class="project_box">
    	<div class="project_box2">
        <h2>Sr No</h2> </div>
        <div class="project_box3">
       	<input type="text" placeholder="" name="serialNumber" required value="">
        </div>
    </div><!--project_box-->
    
	<div class="project_box">
    	<div class="project_box2">
        <h2> Email Id</h2> </div>
        <div class="project_box3">
       	<input type="text" placeholder="" name="kindAttPersonEmail" required value="">
        </div>
    </div><!--project_box-->
    
    
    <div class="project_box">
    	<div class="project_box2">
        <h2> Types Of Panel</h2> </div>
        <div class="project_box3">
       	<input type="text" placeholder="" name="typesOfPanel" required value="">
        </div>
    </div><!--project_box-->
    
    <div class="project_box">
    	<div class="project_box2">
        <h2> Quantity</h2> </div>
        <div class="project_box3">
       	<input type="text" placeholder=""  required value="">
        </div>
    </div><!--project_box-->
    
    <div class="project_box">
    	<div class="project_box2">
        <h2> Enquiry Type</h2> </div>
        <div class="project_box3">
       	<input type="text" placeholder="" name="enquiryType" required value="">
        </div>
    </div><!--project_box-->
    
    
    <div class="project_box">
    	<div class="project_box2">
        <h2> Revision</h2> </div>
        <div class="project_box3">
       	<input type="text" placeholder=""  required value="">
        </div>
    </div><!--project_box-->
    
    <div class="project_box">
    	<div class="project_box2">
        <h2>Draftman</h2> </div>
        <div class="project_box3">
       	<input type="text" placeholder=""  required value="">
        </div>
    </div><!--project_box-->
    
    
    <div class="project_box">
    	<div class="project_box2">
        <h2> Schema Designer</h2> </div>
        <div class="project_box3">
       	<input type="text" placeholder=""  required value="">
        </div>
    </div><!--project_box-->
    
    	<div class="project_box4">
    	<div class="button"> 
    	<input type="button" value="Add Panel" onclick="getPanelDetailsPopUpEmpty()" >
        <input type="button" value="Save" onclick="saveFinalEstimation()">
		<input type="button" value="Cancel">
     	</div>
     	
    </div><!--project_box-->
    </form>
    </div><!--project_mainbox1-->
	
		
		<div id="project_mainbox3">
    	
    	<table class="display" border="1" id="mainEstTbl">
		  <thead>
		  <tr>
		    <th scope="col">Sr no.</th>
		    <th scope="col">Description</th>
		    <th scope="col">QTY</th>
		    <th scope="col">Unit Rate (INR)</th>
		    <th scope="col">Total</th>
		    <th scope="col">Hight</th>
		    <th scope="col">Width</th>
		    <th scope="col">Depth</th>
		    <th scope="col">Details</th>
		    <th scope="col">Spec</th>
		    <th></th>
		  </tr>
		  </thead>
		  <tbody>
		  <#list project.panels as list>
		  <tr> 
   	   		<td id="panelKey${list.panelId}">${list?index+1}</td>
   			<td id="description${list.panelId}">${(list.panelName)!""}</td>
   			<td id="qty${list.panelId}">${(list.quntity)!""}</td>
   			<td id="unitRate${list.panelId}">${(list.negotiatedPrice)!""}</td>
   			<td id="total${list.panelId}">${((list.negotiatedPrice)*(list.quntity))!""}</td>
   			<td id="hight${list.panelId}">${(list.hight)!""}</td>
   			<td id="width${list.panelId}">${(list.width)!""}</td>
   			<td id="defth${list.panelId}">${(list.defth)!""}</td>
   	        <td><img src='images/tick.png' height='35' width='30'onclick="getPanelDetails(${list.panelId},'w')"></td>
   	    	<td><img src='images/tick.png' height='35' width='30' onclick="getPanelSpecDetails(${list.panelId})" ></td>
   	    	<td><i class="fa fa-trash fa-4" ></i></td>
   	      </tr>
		  </#list>
		  </tbody>
 		</table>

 	<div id="tempEstimationSpecPopUp">
	</div>
	<div id="tempEstimationPopUp">
	</div>

 


	
	</div>
	</div> <!--project_mainbox3-->
	</div>  <!--page-wrapper-->


		<script>
		$(document).ready(function() {
			$('#mainEstTbl').DataTable();
		} );
		</script>




