

	<script type="text/javascript">
	$(document).ready(function() {
	    $('#salesOrderTbl').DataTable();
	} );
	
	function veiwProjectInfo(projectId){
	
		var data = 'projectId='+ projectId;
    	var resData = doAjaxCall('?viewSalesOrderInfo', 'post', data, false, 'json');
    	var res = JSON.parse(resData); 

    	$('#projectName').val(res.projectName);
    	$('#enquiryNumber').val(res.enquiryNumber);
    	$('#revision').val(res.revision);
        $('#enquiryRecDate').val(res.enquiryRecDate);
        $('#quetationSendDate').val(res.quetationSendDate);
        $('#typesofPanne').val(res.typesofPanne);
        $('#jobNumber').val(res.jobNumber);
        $('#drawingAprvDate').val(res.drawingAprvDate);
        $('#quntity').val(res.quntity);
        $('#enquiryType').val(res.enquiryType);
        $('#estimator').val(res.estimator);
        $('#draftman').val(res.draftman);
        $('#schemaDesigner').val(res.schemaDesigner);
	}
	</script>
    

<body>
	<div class="main-content">
	<div id="header"></div>
		<!-- main content start-->
		<div id="page-wrapper">
			<div class="header_bottom">
			<h2>View Pending Orders</h2>
			<div class="text-right">
			<ol class="breadcrumbs">
				<li>
					<a href="#">
						<span>Home&nbsp; / </span>
					</a>
				</li>
				<li><span>&nbsp;View Pending Orders</span></li>
			</ol>
		</div>
		</div>
		
<div id="project_mainbox1">

    <div class="project_box">
    	<div class="project_box2"><h2>Project Name</h2> </div>
        <div class="project_box3"><input type="text" name="projectName"/></div>
    </div>
    
    <div class="project_box">
    	<div class="project_box2">
        <h2>Issue Date</h2> </div>
        <div class="project_box3">
       	 <input type="text"    value="">
        </div>
    </div>
    
    <div class="project_box">
    	<div class="project_box2"><h2>Estimator</h2> </div>
        <div class="project_box3">
			<select>
	   		<option value="Estimator 1">Estimator 1</option>
			<option value="Estimator 2">Estimator 2</option>
	  		</select>
		</div>
    </div>
    
    <div class="project_box">
    	<div class="project_box2">
        <h2>Handle By</h2> </div>
        <div class="project_box3">
       <select>
	   <option value="Handle By 1">Handle By 1</option>
		<option value="Handle By 2">Handle By 2</option>
	   </select>
        </div>
    </div>
    
    
    <div class="project_box4">
    <div class="button"> 
    	<input type="button" value="Apply">
        <input type="button" value="Clear">
     </div>
    </div><!--project_box-->
    
</div><!--project_mainbox1-->
    
    
    
		<div id="project_mainbox3">
    	<table   border="1" id="salesOrderTbl" class="display">
    			 <thead>
				  <tr>
				    <th scope="col">Sr no.</th>
				    <th scope="col">Project Name</th>
				    <th scope="col">Handle By</th>
				    <th scope="col">Estimator</th>
				    <th scope="col">Schema Designer</th>
				    <th scope="col">Draftman</th>
				    <th scope="col">Issue Date</th>
				    <th scope="col">Delivery Date</th>
				    <th scope="col">OverDue Date</th>
				    <th scope="col">Status</th>
				    <th scope="col">View</th>
				  </tr>
				  </thead>
				 <tbody>
  				<#if listProject??>
	        	<#list listProject as project>
  					<tr>
    				<td>${project?index+1}</td>
	                <td>${(project.projectName)!""}</td>
	                <td>${(project.handledByName)!""}</td>
	                <td>${(project.estimatorUserName)!""}</td>
	                <td>${(project.schemaDesignerName)!""}</td>
	                <td>${(project.draftmanName)!""}</td>
	                <td>${(project.createdOn)!""}</td>
	                <td></td>
	                <td></td>
	                <td>${(project.status)!""}</td>
	                <td><button type="button" onclick="veiwProjectInfo(${project.projectId})">View</button> </td>
	                </tr>
  				</#list>
	       		</#if>
  			   </tbody>
			</table>
    	</div> <!--project_mainbox3-->
    
    <div id="project_mainbox4">
    <h1>Order Details </h1>
     <div class="project_box">
    	<div class="project_box2">
        <h2>Project Name:</h2> </div>
        <div class="project_box3">
       	 <input type="text" id="projectName" disabled="disabled" value="">
        </div>
    </div><!--project_box-->
    <div class="project_box">
    	<div class="project_box2">
        <h2>Enquiry No</h2> </div>
        <div class="project_box3">
       	 <input type="text" id="enquiryNumber" disabled="disabled" value="">
        </div>
    </div><!--project_box-->
    <div class="project_box">
    	<div class="project_box2">
        <h2>Revision</h2> </div>
        <div class="project_box3">
       	 <input type="text" id="revision" disabled="disabled" value="">
        </div>
    </div><!--project_box-->
    <div class="project_box">
    	<div class="project_box2">
        <h2>Enquiry Rec date</h2> </div>
        <div class="project_box3">
       	 <input type="text" disabled="disabled" id="enquiryRecDate"  value="">
        </div>
    </div><!--project_box-->
    <div class="project_box">
    	<div class="project_box2">
        <h2>Qautation Send Date</h2> </div>
        <div class="project_box3">
       	 <input type="text"  id="quetationSendDate"  disabled="disabled"  value="">
        </div>
    </div><!--project_box-->
    <div class="project_box">
    	<div class="project_box2">
        <h2>Types Of Panel</h2> </div>
        <div class="project_box3">
       	 <input type="text"  id="typesofPannel"  disabled="disabled"  value="">
        </div>
    </div><!--project_box-->
     <div class="project_box">
    	<div class="project_box2">
        <h2>Job Number</h2> </div>
        <div class="project_box3">
       	 <input type="text"  id="jobNumber" disabled="disabled"  value="">
        </div>
    </div><!--project_box-->
     <div class="project_box">
    	<div class="project_box2">
        <h2>Drawing aprv date</h2> </div>
        <div class="project_box3">
       	 <input type="text"  id="drawingAprvDate"   disabled="disabled"  value="">
        </div>
    </div><!--project_box-->
     <div class="project_box">
    	<div class="project_box2">
        <h2>Quntity</h2> </div>
        <div class="project_box3">
       	 <input type="text"   id="quntity"  disabled="disabled"  value="">
        </div>
    </div><!--project_box-->

     <div class="project_box">
    	<div class="project_box2">
        <h2>Enquiry Type</h2> </div>
        <div class="project_box3">
       	 <input type="text" id="enquiryType" disabled="disabled"    value="">
        </div>
    </div><!--project_box-->
     <div class="project_box">
    	<div class="project_box2">
          <h2>Estimator</h2> </div>
        <div class="project_box3">
       	 <input type="text"  disabled="disabled"  value="">
        </div>
    </div><!--project_box-->
     <div class="project_box">
    	<div class="project_box2">
        <h2>Draftman</h2> </div>
        <div class="project_box3">
       	 <input type="text"   disabled="disabled"  value="">
        </div>
    </div><!--project_box-->
     <div class="project_box">
    	<div class="project_box2">
        <h2>Schema Desinger</h2> </div>
        <div class="project_box3">
       	 <input type="text" disabled="disabled"   value="">
        </div>
    </div><!--project_box-->
   <div class="project_box4">
    <div class="button"> 
    	<input type="button" value="Estimation" onclick="getEstimationfromSalesOrder()">
        <input type="button" value="Drawing">
     </div>
    </div>
    
    </div><!--project_mainbox1-->
	</div>  <!--page-wrapper-->

</div>
		


